{% extends 'base.html.twig' %}

{% block title %}Fratelli Pizzaioli{% endblock %}

{% block body %}
    <div class="row gy-3">
        {%  for category in categories %}
            <div class="col-4">
                <div class="card" style="width: 25rem;">
                    <img src="img/categories/{{ category }}.jpeg" class="card-img-top" alt="{{ category }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ category }}</h5>
                        <p class="card-text">{{ category }}</p>
                        <a href="menu" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

